/* CSS Document */
body{
    margin: 0;
    padding: 40px;
}

h1{
    margin: 0;
    padding: 0;
    z-index: 0;
}
h2{
    margin-top: 40px;
    /* margin-left: 30%; */
    text-align: center;
}
h3{
    position: absolute; 
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto; 
    bottom: 20px;
    text-align: center;
}
div#quotes{
    position: absolute;
    min-width: 200px;
    margin: auto;
    background: #ffb3b3;
    max-height: 200px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin-left: 10px;
    margin-right: 10px;
    border-radius:50px;
    z-index: 100;
    padding: 20px;
}
div#quotes img#face{
    position: absolute;
    /* display: block; */
    width: 150px;
    height: 150px;
    border-radius: 75px;
    background: #fff;
    box-shadow: 1px 2px 4px #ff0000;
    z-index: 115;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
    /* margin-top: 75px; */

}